body {
  font-family: 'Hind', sans-serif;
  background: #420f0b;
  color: #dd4132;
  margin-left: 50px;
}

.show {
  margin-left: 10px;
}

.words {
  color:#dd4132;
}

#add{
  background:;
}

#clear {
  background: ;
}

